#home {
    height: 100vh;
    background: linear-gradient(to right, #0d6efd, #6610f2);
    color: white;
    margin-bottom: 70px;
    /* Optional: to center content vertically in 100vh */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skills {
    margin-top: 70px;
}